bms_test/flow_mosquitto.json
[
    {
        "id": "317174e44d150fcf",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de13440f9ebbd2f0",
        "type": "inject",
        "z": "317174e44d150fcf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "ebd7313033d92c99"
            ]
        ]
    },
    {
        "id": "ced593c9246cc3a7",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "ebd7313033d92c99",
        "type": "function",
        "z": "317174e44d150fcf",
        "name": "function 1",
        "func": "// Create a Date object from payload\nvar date = new Date(msg.payload);\n// Change the payload to be formatted Date string\nmsg.payload = date.toString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 600,
        "wires": [
            [
                "ced593c9246cc3a7"
            ]
        ]
    },
    {
        "id": "mqtt_in_sensores",
        "type": "mqtt in",
        "z": "317174e44d150fcf",
        "name": "Recibir Datos ESP32",
        "topic": "m5stick/sensores",
        "qos": "0",
        "datatype": "json",
        "broker": "broker_local",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "debug_json",
                "separar_cell1",
                "separar_amp",
                "9ed2aef02580168c",
                "25a4e7e6639d8f67"
            ]
        ]
    },
    {
        "id": "debug_json",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "Ver JSON Completo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 20,
        "wires": []
    },
    {
        "id": "separar_cell1",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extraer Cell 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.cell_1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "debug_cell1",
                "c926480ca080b2a5",
                "3e1e72ed120a11cb"
            ]
        ]
    },
    {
        "id": "separar_amp",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extraer Corriente",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.current",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "debug_amp",
                "64eb2bef37c60f37",
                "d5e644988fd530e9"
            ]
        ]
    },
    {
        "id": "debug_cell1",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "Valor Cell 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 40,
        "wires": []
    },
    {
        "id": "debug_amp",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "Valor Amperios",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "inject_r1_on",
        "type": "inject",
        "z": "317174e44d150fcf",
        "name": "Encender R1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "mqtt_out_r1"
            ]
        ]
    },
    {
        "id": "inject_r1_off",
        "type": "inject",
        "z": "317174e44d150fcf",
        "name": "Apagar R1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 80,
        "y": 500,
        "wires": [
            [
                "mqtt_out_r1"
            ]
        ]
    },
    {
        "id": "mqtt_out_r1",
        "type": "mqtt out",
        "z": "317174e44d150fcf",
        "name": "Control Relé 1",
        "topic": "m5stick/relay/1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker_local",
        "x": 340,
        "y": 460,
        "wires": []
    },
    {
        "id": "9ed2aef02580168c",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extraer Cell 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.cell_2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "9e420f9f1cbb8d7b",
                "a64fb016a924453d",
                "8f83d1c7fa141ac9"
            ]
        ]
    },
    {
        "id": "9e420f9f1cbb8d7b",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "Valor Cell 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "25a4e7e6639d8f67",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extraer Cell 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.cell_3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "df93060e2d06ad96",
                "b2fed5fb86ed5fb9",
                "0cbfcdd26a605c66"
            ]
        ]
    },
    {
        "id": "df93060e2d06ad96",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "Valor Cell 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "c926480ca080b2a5",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Voltage cell 1",
        "label": "Cell 1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "a64fb016a924453d",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Voltage cell 2",
        "label": "Cell 2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "b2fed5fb86ed5fb9",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Voltage cell 3",
        "label": "Cell 3:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "aa60373a084eec08",
        "type": "ui-switch",
        "z": "317174e44d150fcf",
        "name": "Relay 1",
        "label": "Relay 1",
        "group": "26894734cd0ff0d1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "label",
        "onvalue": true,
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": false,
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "mqtt_out_r1"
            ]
        ]
    },
    {
        "id": "64eb2bef37c60f37",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Current",
        "label": "Current:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "d5e644988fd530e9",
        "type": "ui-chart",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "name": "Current",
        "label": "Current",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-1",
        "ymax": "20",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 640,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0cbfcdd26a605c66",
        "type": "ui-chart",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "name": "Voltage cell 3",
        "label": "Voltage cell 3",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-1",
        "ymax": "5",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 650,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "8f83d1c7fa141ac9",
        "type": "ui-chart",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "name": "Voltage cell 2",
        "label": "Voltage cell 2",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-1",
        "ymax": "5",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 650,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3e1e72ed120a11cb",
        "type": "ui-chart",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "name": "Voltage cell 1",
        "label": "Voltage cell 1",
        "order": 8,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-1",
        "ymax": "5",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 650,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "broker_local",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true
    },
    {
        "id": "68c8cfbd04e0829b",
        "type": "ui-group",
        "name": "Sensors",
        "page": "18a8ec953f0ba430",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "26894734cd0ff0d1",
        "type": "ui-group",
        "name": "Relay control",
        "page": "18a8ec953f0ba430",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "18a8ec953f0ba430",
        "type": "ui-page",
        "name": "BMS M5Stick",
        "ui": "aafe1d0bf1a48039",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "16985bcf074ce243",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "aafe1d0bf1a48039",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "16985bcf074ce243",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "de52cc98535b8298",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]