battery_management_system_v1/flow_mosquitto.json
[
    {
        "id": "317174e44d150fcf",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de13440f9ebbd2f0",
        "type": "inject",
        "z": "317174e44d150fcf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 1200,
        "wires": [
            [
                "ebd7313033d92c99"
            ]
        ]
    },
    {
        "id": "ced593c9246cc3a7",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ebd7313033d92c99",
        "type": "function",
        "z": "317174e44d150fcf",
        "name": "function 1",
        "func": "// Create a Date object from payload\nvar date = new Date(msg.payload);\n// Change the payload to be formatted Date string\nmsg.payload = date.toString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1200,
        "wires": [
            [
                "ced593c9246cc3a7"
            ]
        ]
    },
    {
        "id": "mqtt_in_sensores",
        "type": "mqtt in",
        "z": "317174e44d150fcf",
        "name": "ESP32 Charge Data Reception",
        "topic": "m5stick/sensors/charge",
        "qos": "0",
        "datatype": "json",
        "broker": "broker_local",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "debug_json",
                "separar_cell1",
                "separar_amp",
                "9ed2aef02580168c",
                "25a4e7e6639d8f67",
                "290cc350a1452ea0",
                "7bca65ab7fdf7b0e",
                "df40ec7e2ed947b5"
            ]
        ]
    },
    {
        "id": "debug_json",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "See full JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 20,
        "wires": []
    },
    {
        "id": "separar_cell1",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extract Charge Cell 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.cell_1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "debug_cell1",
                "c926480ca080b2a5",
                "3e1e72ed120a11cb"
            ]
        ]
    },
    {
        "id": "separar_amp",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extract Charge Current",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.current",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 340,
        "wires": [
            [
                "debug_amp",
                "64eb2bef37c60f37",
                "d5e644988fd530e9"
            ]
        ]
    },
    {
        "id": "debug_cell1",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "Valor Cell 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 20,
        "wires": []
    },
    {
        "id": "debug_amp",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "Valor Amperios",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 820,
        "y": 380,
        "wires": []
    },
    {
        "id": "inject_r1_on",
        "type": "inject",
        "z": "317174e44d150fcf",
        "name": "Encender R1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 90,
        "y": 1020,
        "wires": [
            [
                "mqtt_out_r1"
            ]
        ]
    },
    {
        "id": "inject_r1_off",
        "type": "inject",
        "z": "317174e44d150fcf",
        "name": "Apagar R1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 160,
        "y": 1140,
        "wires": [
            [
                "mqtt_out_r1"
            ]
        ]
    },
    {
        "id": "mqtt_out_r1",
        "type": "mqtt out",
        "z": "317174e44d150fcf",
        "name": "Control Relé 1",
        "topic": "m5stick/relay/1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker_local",
        "x": 440,
        "y": 1100,
        "wires": []
    },
    {
        "id": "9ed2aef02580168c",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extract Charge Cell 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.cell_2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 220,
        "wires": [
            [
                "9e420f9f1cbb8d7b",
                "a64fb016a924453d",
                "8f83d1c7fa141ac9"
            ]
        ]
    },
    {
        "id": "9e420f9f1cbb8d7b",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "Valor Cell 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "25a4e7e6639d8f67",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extract Charge Cell 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.cell_3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "df93060e2d06ad96",
                "b2fed5fb86ed5fb9",
                "0cbfcdd26a605c66"
            ]
        ]
    },
    {
        "id": "df93060e2d06ad96",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "Valor Cell 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "c926480ca080b2a5",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Voltage cell 1",
        "label": "Cell 1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 810,
        "y": 60,
        "wires": []
    },
    {
        "id": "a64fb016a924453d",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Voltage cell 2",
        "label": "Cell 2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "b2fed5fb86ed5fb9",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Voltage cell 3",
        "label": "Cell 3:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "aa60373a084eec08",
        "type": "ui-switch",
        "z": "317174e44d150fcf",
        "name": "Relay 1",
        "label": "Relay 1",
        "group": "26894734cd0ff0d1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "label",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 260,
        "y": 1080,
        "wires": [
            [
                "mqtt_out_r1"
            ]
        ]
    },
    {
        "id": "64eb2bef37c60f37",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Current",
        "label": "Current:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 800,
        "y": 420,
        "wires": []
    },
    {
        "id": "d5e644988fd530e9",
        "type": "ui-chart",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "name": "Current",
        "label": "Current",
        "order": 10,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-10",
        "ymax": "10",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 800,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "0cbfcdd26a605c66",
        "type": "ui-chart",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "name": "Voltage cell 3",
        "label": "Voltage cell 3",
        "order": 9,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-1",
        "ymax": "5",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 810,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8f83d1c7fa141ac9",
        "type": "ui-chart",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "name": "Voltage cell 2",
        "label": "Voltage cell 2",
        "order": 8,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-1",
        "ymax": "5",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 810,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3e1e72ed120a11cb",
        "type": "ui-chart",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "name": "Voltage cell 1",
        "label": "Voltage cell 1",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-1",
        "ymax": "5",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 810,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f82c16dc049e5a49",
        "type": "mqtt in",
        "z": "317174e44d150fcf",
        "name": "Actualizar UI",
        "topic": "m5stick/relay/1",
        "qos": "2",
        "datatype": "json",
        "broker": "broker_local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 1080,
        "wires": [
            [
                "aa60373a084eec08"
            ]
        ]
    },
    {
        "id": "e9da24040cb93edd",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extract Discharge Cell 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.cell_1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 580,
        "wires": [
            [
                "4f178e93a6bca35b",
                "866b7dab4c0be06e",
                "33fbb813d1fbbda8"
            ]
        ]
    },
    {
        "id": "dcbd027878e66e99",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extract Discharge Current",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.current",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 760,
        "wires": [
            [
                "6107500d8c4f1d40",
                "3af886efe0c8e66e",
                "56a840d518f5ce04"
            ]
        ]
    },
    {
        "id": "6f03242a1955edfe",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extract Discharge Cell 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.cell_2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 640,
        "wires": [
            [
                "55fa6af8062b629f",
                "f7eede7f51d6589e",
                "a1e5458eaa2d95e7"
            ]
        ]
    },
    {
        "id": "f85ac70545f03f6b",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extract Discharge Cell 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.cell_3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 700,
        "wires": [
            [
                "2bf2ae21986d172b",
                "af568ed205c82485",
                "f96b404d10482b8a"
            ]
        ]
    },
    {
        "id": "03fb97f96bdf54d8",
        "type": "mqtt in",
        "z": "317174e44d150fcf",
        "name": "ESP32 Discharge Data Reception",
        "topic": "m5stick/sensors/discharge",
        "qos": "0",
        "datatype": "json",
        "broker": "broker_local",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 640,
        "wires": [
            [
                "e9da24040cb93edd",
                "6f03242a1955edfe",
                "f85ac70545f03f6b",
                "dcbd027878e66e99",
                "b4877600913a5825",
                "9f84d87a7b757e83",
                "739c25faa57f07c2",
                "1d5130a053a636ce"
            ]
        ]
    },
    {
        "id": "4f178e93a6bca35b",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "Valor Cell 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "6107500d8c4f1d40",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "Valor Amperios",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 820,
        "y": 880,
        "wires": []
    },
    {
        "id": "55fa6af8062b629f",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "Valor Cell 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "2bf2ae21986d172b",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "Valor Cell 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 760,
        "wires": []
    },
    {
        "id": "3af886efe0c8e66e",
        "type": "ui-chart",
        "z": "317174e44d150fcf",
        "group": "12737b21a920b1bf",
        "name": "Current",
        "label": "Current",
        "order": 10,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-10",
        "ymax": "10",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 800,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "56a840d518f5ce04",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "12737b21a920b1bf",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Current",
        "label": "Current:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 800,
        "y": 920,
        "wires": []
    },
    {
        "id": "af568ed205c82485",
        "type": "ui-chart",
        "z": "317174e44d150fcf",
        "group": "12737b21a920b1bf",
        "name": "Voltage cell 3",
        "label": "Voltage cell 3",
        "order": 9,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-1",
        "ymax": "5",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 810,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "f96b404d10482b8a",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "12737b21a920b1bf",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Voltage cell 3",
        "label": "Cell 3:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 810,
        "y": 800,
        "wires": []
    },
    {
        "id": "f7eede7f51d6589e",
        "type": "ui-chart",
        "z": "317174e44d150fcf",
        "group": "12737b21a920b1bf",
        "name": "Voltage cell 2",
        "label": "Voltage cell 2",
        "order": 8,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-1",
        "ymax": "5",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 810,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "a1e5458eaa2d95e7",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "12737b21a920b1bf",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Voltage cell 2",
        "label": "Cell 2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 810,
        "y": 680,
        "wires": []
    },
    {
        "id": "866b7dab4c0be06e",
        "type": "ui-chart",
        "z": "317174e44d150fcf",
        "group": "12737b21a920b1bf",
        "name": "Voltage cell 1",
        "label": "Voltage cell 1",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-1",
        "ymax": "5",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 810,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "33fbb813d1fbbda8",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "12737b21a920b1bf",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Voltage cell 1",
        "label": "Cell 1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 810,
        "y": 560,
        "wires": []
    },
    {
        "id": "5038560465901e9e",
        "type": "influxdb out",
        "z": "317174e44d150fcf",
        "influxdb": "80a4cba52d46a927",
        "name": "BMS_Influx",
        "measurement": "system_state",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ULL",
        "bucket": "BMS_M5Stick",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "290cc350a1452ea0",
        "type": "function",
        "z": "317174e44d150fcf",
        "name": "InfluxDB formatter",
        "func": "var influxPayload = [\n    {\n        // Fields: values that change over time\n        exp_time: msg.payload.t_s,\n        cell_1_v: msg.payload.cell_1,\n        cell_2_v: msg.payload.cell_2,\n        cell_3_v: msg.payload.cell_3,\n        bat_v: msg.payload.battery,\n        current: msg.payload.current,\n        coulombs: msg.payload.coulombs,\n    },\n    {\n        // Tags: metadata to filter\n        device: msg.payload.device,\n        place: msg.payload.place,\n        cycle: msg.payload.cycle,\n        phase: msg.payload.phase,\n        exp_name: msg.payload.exp_name,\n        date: msg.payload.date,\n        bat_type: msg.payload.bat_type,\n        bat_cap_Ah: msg.payload.bat_cap_Ah,\n        pcent_r1: msg.payload.percent_r1,\n        pcent_r2: msg.payload.percent_r2,\n        pcent_r3: msg.payload.percent_r3,\n        sub_tag: msg.payload.sub_tag\n    }\n];\n\nmsg.payload = influxPayload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 400,
        "wires": [
            [
                "5038560465901e9e"
            ]
        ]
    },
    {
        "id": "692c40f71c7285aa",
        "type": "catch",
        "z": "317174e44d150fcf",
        "name": "InfluxDB catch",
        "scope": [
            "5038560465901e9e"
        ],
        "uncaught": false,
        "x": 90,
        "y": 320,
        "wires": [
            [
                "4c19fde58dc8b88f"
            ]
        ]
    },
    {
        "id": "4c19fde58dc8b88f",
        "type": "debug",
        "z": "317174e44d150fcf",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 140,
        "y": 460,
        "wires": []
    },
    {
        "id": "b4877600913a5825",
        "type": "function",
        "z": "317174e44d150fcf",
        "name": "InfluxDB formatter DIS",
        "func": "var influxPayload = [\n    {\n        // Fields: values that change over time\n        exp_time: msg.payload.t_s,\n        cell_1_v: msg.payload.cell_1,\n        cell_2_v: msg.payload.cell_2,\n        cell_3_v: msg.payload.cell_3,\n        bat_v: msg.payload.battery,\n        current: msg.payload.current,\n        coulombs: msg.payload.coulombs,\n        cell_res_1: msg.payload.cell_res_1,\n        cell_res_2: msg.payload.cell_res_2,\n        cell_res_3: msg.payload.cell_res_3, \n        soc: msg.payload.soc_percent,\n        cell_1_v_nload: msg.payload.cell_1_nload,\n        cell_2_v_nload: msg.payload.cell_2_nload,\n        cell_3_v_nload: msg.payload.cell_3_nload\n    },\n    {\n        // Tags: metadata to filter\n        device: msg.payload.device,\n        place: msg.payload.place,\n        cycle: msg.payload.cycle,\n        phase: msg.payload.phase,\n        exp_name: msg.payload.exp_name,\n        date: msg.payload.date,\n        bat_type: msg.payload.bat_type,\n        bat_cap_Ah: msg.payload.bat_cap_Ah,\n        pcent_r1: msg.payload.percent_r1,\n        pcent_r2: msg.payload.percent_r2,\n        pcent_r3: msg.payload.percent_r3,\n        sub_tag: msg.payload.sub_tag\n    }\n];\n\nmsg.payload = influxPayload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 540,
        "wires": [
            [
                "5038560465901e9e"
            ]
        ]
    },
    {
        "id": "7bca65ab7fdf7b0e",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extract Success Count",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.success_count",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 400,
        "wires": [
            [
                "f8233d177dc51abf"
            ]
        ]
    },
    {
        "id": "f8233d177dc51abf",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Success",
        "label": "Success samples:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 960,
        "y": 480,
        "wires": []
    },
    {
        "id": "df40ec7e2ed947b5",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extract Failure Count",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.failure_count",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 460,
        "wires": [
            [
                "4b18067d20cbf9e6"
            ]
        ]
    },
    {
        "id": "4b18067d20cbf9e6",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "68c8cfbd04e0829b",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Failure",
        "label": "Failure samples:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "e9d9c6247ce0874b",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "12737b21a920b1bf",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Success",
        "label": "Success samples:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 860,
        "y": 1000,
        "wires": []
    },
    {
        "id": "0260ea84876e4793",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "12737b21a920b1bf",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Failure",
        "label": "Failure samples:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 870,
        "y": 1040,
        "wires": []
    },
    {
        "id": "9f84d87a7b757e83",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extract Success Count",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.success_count",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 920,
        "wires": [
            [
                "e9d9c6247ce0874b"
            ]
        ]
    },
    {
        "id": "739c25faa57f07c2",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extract Failure Count",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.failure_count",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 980,
        "wires": [
            [
                "0260ea84876e4793"
            ]
        ]
    },
    {
        "id": "1d5130a053a636ce",
        "type": "change",
        "z": "317174e44d150fcf",
        "name": "Extract SoC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soc_percent",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1040,
        "wires": [
            [
                "8ee86237f44d955f",
                "159f763233a4bf89"
            ]
        ]
    },
    {
        "id": "8ee86237f44d955f",
        "type": "ui-text",
        "z": "317174e44d150fcf",
        "group": "12737b21a920b1bf",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "SoC",
        "label": "SoC:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 810,
        "y": 1100,
        "wires": []
    },
    {
        "id": "159f763233a4bf89",
        "type": "ui-chart",
        "z": "317174e44d150fcf",
        "group": "12737b21a920b1bf",
        "name": "SoC",
        "label": "SoC",
        "order": 10,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 810,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "broker_local",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "68c8cfbd04e0829b",
        "type": "ui-group",
        "name": "Sensors",
        "page": "18a8ec953f0ba430",
        "width": "12",
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "26894734cd0ff0d1",
        "type": "ui-group",
        "name": "Relay control",
        "page": "18a8ec953f0ba430",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "12737b21a920b1bf",
        "type": "ui-group",
        "name": "Sensors",
        "page": "5ce32bc7c451b240",
        "width": "12",
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "80a4cba52d46a927",
        "type": "influxdb",
        "hostname": "localhost",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "BMS_M5Stick_Influx",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "18a8ec953f0ba430",
        "type": "ui-page",
        "name": "BMS M5Stick Charge",
        "ui": "aafe1d0bf1a48039",
        "path": "/charge",
        "icon": "home",
        "layout": "grid",
        "theme": "16985bcf074ce243",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "5ce32bc7c451b240",
        "type": "ui-page",
        "name": "BMS M5Stick Discharge",
        "ui": "aafe1d0bf1a48039",
        "path": "/discharge",
        "icon": "home",
        "layout": "grid",
        "theme": "16985bcf074ce243",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "aafe1d0bf1a48039",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "16985bcf074ce243",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "4bf86d0e60c50427",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]